.header {
  background-color: rgb(16, 14, 16);
  position: relative;
  height: 90px;
  top: 16px;
  bottom: 10px;
  display: flex;
  flex: 1 1 auto;
}
.header .navbar-brand {
  margin: 0.5% 1% 2% 6%;
  font-family: karla;
  font-size: 70px;
}
.searchbar {
  position: relative;
  top: 34.3px;
  margin-left: 0;
  height: 39px;
  width: 700px;
  border-radius: 5%;
  left: 0;
}
.header .searchicon {
  position: relative;
  border-radius: 7%;
  top: 36px;
  height: 36.5px;
  left: 0.1%;
  background-color: white;
}
.shopping-icon{
  color: white;
  position: absolute;
  left: 90%;
  top:35%
}
.login {

  position: relative;
  color: white;
  left: 90%;
  top: 14px;
}
